@charset "UTF-8";
/* CSS Document */
/* icons =========================================== */
i[class*='dashicons']::before {
  font: 400 20px / 1 dashicons;
  padding: 0 2px 0 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px; }

i.dashicons-image-grid-view::before {
  content: "\f509"; }

i.dashicons-image-flip-horizontal::before {
  content: "\f169"; }

i.dashicons-image-editor-break::before {
  content: "\f474"; }

i.dashicons-format-video::before {
  content: "\f126"; }

i.dashicons-dashicons-money::before {
  content: "\f526"; }

/* widget */
.widget-content dl {
  clear: both; }
  .widget-content dl dt {
    width: 20%; }
  .widget-content dl dt, .widget-content dl dd {
    display: inline-block;
    padding: 0 5px;
    margin: 0; }

#page_bkg_img_wrap img {
  width: 100%;
  height: auto; }

a.page_bkg_upload_images_remove {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  border-radius: 50%; }

a.page_bkg_upload_images_remove:before {
  content: '×';
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 6px;
  color: #fff;
  font-weight: bold; }

a.page_bkg_upload_images_remove:hover {
  background: #aaa; }

.wp-list-table #words_count {
  width: 280px; }

.wp-list-table .column_badge {
  color: white;
  padding: 3px 7px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 90%; }
  .wp-list-table .column_badge.good {
    background-color: #66AD6A; }
  .wp-list-table .column_badge.fine {
    background-color: #498DB0; }
  .wp-list-table .column_badge.bad {
    background-color: #9C4042; }

.headline-count-block h2.headline-count {
  font-weight: normal;
  color: #878787;
  margin-top: 0; }
  .headline-count-block h2.headline-count span {
    margin-left: 20px;
    color: #B23C3E;
    font-size: 160%;
    font-weight: bold; }

.headline-count-block ul {
  padding: 5px 5px 5px 15px;
  background-color: white; }
