/* CSS Document */

/* icons =========================================== */

i[class*='dashicons']::before{
    font: 400 20px / 1 dashicons;
    padding: 0 2px 0 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px
}


i.dashicons-image-grid-view::before {
    content: "\f509";
}

i.dashicons-image-flip-horizontal::before {
    content: "\f169";
}

i.dashicons-image-editor-break::before {
    content: "\f474";
}

i.dashicons-format-video::before {
    content: "\f126";
}

i.dashicons-dashicons-money::before {
	content: "\f526";
}



/* widget */
.widget-content{
	dl{
		clear: both;
		
		dt{
			width:20%;
		}
		
		dt,dd{
			display: inline-block;
			padding: 0 5px;
			margin:  0;
		}
	}
}