@media screen and (max-width: 321px) {
  

	.header-logo-block
	{
		font-size:  .7em;
		padding-left:0;
		padding-right:0;
	}
	
	#head-nav.nav-justified *{
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	}
	
}