/* CSS Document */

.block-unit-wrap{
	display: flex;
	> .block-unit{
		width: 100%;
		display: inline-block;
	}
}


.block-group{
	@for $i from 1 through 6 {
		&.group-col-#{$i}{
			width: #{100%/$i};
		}
	}
}


.separate-block{
	> div{
		padding: 15px;
		display: inline-block;
		vertical-align: top;
	}
}

.band_bkg{
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 1.5em;
	padding: 15px 30px;
	box-shadow: 0 0 10px #CCCCCC;
}


.vertical-middle{
	vertical-align: middle;
}

.block-center{
	text-align: center;
	
	> * {
		margin-left: auto;
		margin-right: auto;
	}
	
}



hr.short-horizon{
	width: 12%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.hidden{
	display: none !important;
}


.overflow-block{
	height: 150px;
	margin-bottom: 1.5em;
	background-color: #ffffff;
	border: 1px #c0c0c0 solid;
	color: #000000;
	overflow: auto;
	font-size: 80%;
	padding: 1.5em;
}


.circled_block{
	border: 2px solid #CCCCCC;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
	padding: 15px;
	
	.circled_block_inner{
	display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
	}
}


.author_block_description{
	position: relative;
	margin: 4em auto;
	font-size: 80%;

	&::before{
		content: 'PROFILE';
		font-size: 1.6em;
		font-weight: bold;
		color: #8B8B8B;
		left: 0;
		top: -3em;
	}
	
}

.widget_author_block{
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 15px;
	border-radius: 4px;
}

@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Dynalight|Monsieur+La+Doulaise');
.square_label_block{
	position: absolute;
	top: 1.5em;
	left: 0;
	right: 0;
	font-size: 0.8em;
	text-align: center;
	filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
	
	
	.square_label_block-inner{
		font-family: 'Dynalight', cursive,"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
		background-color: black;
		color: white;
		display: inline-block;
		padding: .6em 1.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 45%;
		min-width: 25%;
		
		p{
			margin-bottom: 0.3em;
		}
		
		span{
			position: relative;
			
			&::before{
				content: '';
				border-bottom: 0.5px solid whitesmoke;
				top: 0;
				width: 7;
				position: absolute;
				top: -6px;
				margin: auto;
				text-align: center;
				left: 0;
				right: 0;
			}
			font-size: .75em;
		}
	}
	
	&.type-white{
		.square_label_block-inner{
			background-color: #F6F3F3;
			color: black;
			
			span{
				&::before{
					border-bottom: 0.5px solid #C0C0C0;
				}
			}
		}
	}
	
	
}//square_label_block

.is_active{
	.square_label_block{
		top: -.6em;
		animation: fadeIn 1s ease .7s 1 forwards;
				-webkit-animation: fadeIn .7s ease 1s 1 forwards;
	}
}