/* CSS Document */

.block-unit-wrap{
	display: flex;
	> .block-unit{
		width: 100%;
		display: inline-block;
	}
}


.block-group{
	@for $i from 1 through 6 {
		&.group-col-#{$i}{
			width: #{100%/$i};
		}
	}
}


.separate-block{
	> div{
		padding: 15px;
		display: inline-block;
		vertical-align: top;
	}
}

.band_bkg{
	margin-left: -30px;
	margin-right: -30px;
	padding: 15px 30px;
	box-shadow: 0 0 10px #CCCCCC;
}


.vertical-middle{
	vertical-align: middle;
}

.block-center{
	text-align: center;
	
	> * {
		margin-left: auto;
		margin-right: auto;
	}
	
}



hr.short-horizon{
	width: 12%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.hidden{
	display: none !important;
}


.overflow-block{
	height: 150px;
	margin-bottom: 1.5em;
	background-color: #ffffff;
	border: 1px #c0c0c0 solid;
	color: #000000;
	overflow: auto;
	font-size: 80%;
	padding: 1.5em;
}


.circled_block{
	border: 2px solid #CCCCCC;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
	padding: 15px;
	
	.circled_block_inner{
	display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
	}
}


.author_block_description{
	position: relative;
	margin: 4em auto;
	font-size: 80%;

	&::before{
		content: 'PROFILE';
		font-size: 1.6em;
		font-weight: bold;
		color: #8B8B8B;
		left: 0;
		top: -3em;
	}
	
}

.widget_author_block{
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 15px;
	border-radius: 4px;
}
