body{
  .breadcrumb{
		position: relative;
    background-color: initial;
		font-size: 0.6em;
		z-index: 2;
    
    a{
      @include _transition_(opacity,0.2);
			position: relative;
			top: 1px;
			
      &:hover{
        @include _transition_(opacity,0.2);
        text-decoration: none;
        filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
      }
    }
		
		.dashicons-admin-home{
			font-size: 15px;
			position: relative;
			top: -2px;
		}
		
  }

  .breadcrumb-item +.breadcrumb-item::before{
    content: "\f139" !important;
    line-height: 1;
		font-size: 1.4em;
    vertical-align: middle;
    font-family: "dashicons";
  }
}