/* CSS Document */



.cover-image{
	background-size: cover;
	background-position: center center;
	//margin-bottom: 25px;
	padding: 50px;
	margin-bottom: 3em;
	@include clearfix;
	
	&.bkg-fixed{
		background-attachment: fixed;
		min-height: 35vh;
		//background-size: 100% auto;
	}
	
	&.bkg-parallax{
		background-position-y: 0px;
	}
	
	&.bkg-right{
		background-position: right center;
	}
	&.bkg-left{
		background-position: left center;
	}
}


.text-cover-block{
	//display: table;
	height: 100%;
	margin-bottom: 25px;
	&.text-center{
		//width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.text-cover-inner{
		display: flex;
		height: 100%;
		
		.text-cover-inner-wrap{
			margin: auto;
		}
		
		.bdr-block,
		.block-center{
			margin: auto;
		}
		//vertical-align: middle;
		//vertical-align: top;
	}
}





.block-unit
{
	vertical-align: top;
	position: relative;
}

.block-group{
	position: relative;
	vertical-align: top;
	padding: 10px;
}

.horizon-block{
	position: relative;
	//opacity: 0;
	clear: both;
	@include clearfix;

	margin: 30px -15px;
	padding: 75px 15px;
	
	background-size: cover;
	background-position: center center;

	&.active{
		opacity: 100;
	}
	+ hr{
		height: 0;
		margin: 0;
	}
	
	&.has_video{
		position: relative;
		overflow: hidden;
		
		> .video-text{
			position: relative;
			z-index: 5;
		}
		
		video {
			position: absolute;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 2;
		}
	}
}




@media screen and (min-width: 769px) {
	

	.bdr-block{
		display: inline-block;
		margin: 10px auto;
		padding: 3em;
		border: 4px solid #FFFFFF;
		background-color: rgba(255,255,255,0.80);
		box-shadow: 0 0 7px #CCCCCC;
		text-shadow: none;
		color: initial;
		//display: inline-block;
	}
	
	.vertical-middle > div{
		display: -webkit-flex;
		display: flex;
		vertical-align: middle;
		-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
		align-items: center; /* 縦方向中央揃え */
		-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
		justify-content: center; /* 横方向中央揃え */
	}
	
	
	.block-group-wrap{
		width: calc(100% + 28px);
		//display: block;
		display: flex;
		margin-left: -14px;
		margin-right: -14px;
		
		> div{
			display: inline-block;
			
			
			.block-item-inner{
				vertical-align: top;
				
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
			
			&.vertical-middle .block-item-inner{
				
				display: -webkit-flex;
				display: flex;
				vertical-align: middle;
				-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
				align-items: center; /* 縦方向中央揃え */
				-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
				justify-content: center; /* 横方向中央揃え */
			}
		}
		
		
	}
	.block-unit,
	.block-group{
		display: inline-block;
	}
	

	
	
	.block-vertical-rl{
		position: absolute;
		max-height: 85vh;
		overflow-wrap: break-word;
		word-wrap: break-word;
		//left: 0;
		//right: 0;

		font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
		-webkit-font-feature-settings: 'pkna';
						font-feature-settings: 'pkna';
		line-height: 1.9;
		//letter-spacing: 0.15em;
		-webkit-writing-mode: vertical-rl;
				-ms-writing-mode: tb-rl;
						writing-mode: vertical-rl;

		//text-indent: 1em;
		margin-left: 30px;
		padding: 25px 10px;
		font-size: 1.1em;
	}

	.horizon-block,
	.block-vertical-rl-wrap{
		position: relative;
		.block-vertical-rl{
			position: relative;
			margin: 10px auto !important;
		}
	}
	
	.text-cover-block{
		.text-cover-inner{
			vertical-align: middle;
		}
	}

	.block-vertical-rl-wrap{
		height: 100%;
	}

	#body-wrap{
		.block-vertical-rl{
			span.inline-span{
				display: inline-block;
				position: relative;
				transform: rotate(-90deg);
				//left: -0.5em;
			}
		}
		
	}
	
}



@media screen and (max-width: 768px) {
	.cover-image{
		height: auto !important;
		padding: 40px 5px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.text-cover-block{
		.bkg-white-text{
			color: inherit;
			text-shadow: inherit;
		}
	}
}


#body-wrap{
	hr.block-horizon{
		display: none;
		margin-top: -25px;
	}
}