/* CSS Document */

.archive-page-title-block{
	display: table;
	
	.entry_block_taxonomy_label{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		padding-left: 15px;
		
		h1.taxonomy_lable{
			font-size: 1em;
			margin-bottom: .1em;
		}
		h1.month_lable{
			font-weight: normal;
			font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
			color: gray;
			letter-spacing: .3em;
		}
		
		p{
			font-size: .75em;
		}
	}
}

.entry-block-title-wrap{
	display: inline-block;
	padding: 1.6em 1.7em;
	text-align: center;
	
	&.timeline-type-group-title{
		margin-left: 1.5em;
	}
	
	p{
		margin: 0;
	}
}
    
.entry_block_title{
	font-size: 0.9em;
	
	&::first-letter {
		text-transform: capitalize;  /* 先頭文字だけ大文字化 */
	}
	
}
.entry_block_sub_title{
		margin-top: -5px;
		font-size: 0.6em;
		filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
		display: block;
	}
time.entry_block_date{

  font-size: 0.7em;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: block;
	margin: 15px 0;
}
.entry_block_excerpt{
  margin: 15px auto;
  padding: 15px;
  background-color:#EDEDED;
  border-bottom: 2px solid #DEDEDE;
}
.entry_block_content{
  margin: 25px auto;
	//line-height: 2;
	
	img{
		max-width: 100%;
		height: auto;
	}
}