/* CSS Document */


@for $i from 0 through 5 {
	h#{$i+1}, .h#{$i+1} {
		font-weight: 800;
		line-height:1.5;
		letter-spacing: -0.03em;
		}
}

.entry_block_content{
	@for $i from 0 through 5 {
		h#{$i+1}, .h#{$i+1} {
			margin-bottom: 1.5em;
			}
	}
}


.inline_title{
	font-size: 1.2em;
}




//headline下線
.headline_bdr-left{
	position: relative;
	//font-size: 34px;
	padding-bottom: 7px;
	border-bottom: 4px solid #ccc;
	margin-bottom: 2em;
  
	&::after {
		position: absolute;
		bottom: -4px;
		left: 0;
		z-index: 2;
		content: '';
		width: 20%;
		height: 4px;
		//background-color: #3498db;
	}
}



//スタイリング見出し
.style_hd_1
{
  position: relative;
  padding-left: 35px;

  &::before,
  &::after{
    position: absolute;
    display: block;
    border-radius: 50%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  
  &::before{
    content: '';
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    background-color: rgba(212,151,152,0.58);
    border: 1px solid rgba(212,151,152,0.70);
  }
  &::after{
    content: '';
    width: 25px;
    height: 25px;
    left: 5px;
    top: 5px;
    background-color : rgba(216,207,108,0.50);
    border: 1px solid  rgba(216,207,108,0.82);
  }
 
}





//headline styles

.dash_btm_headline{
	border-bottom-style: dashed;
	border-bottom-width: 2px;
}

.double_btm_headline{
	border-bottom-style: double;
	border-bottom-width: 2px;
}

.round_headline{
	border-style: solid;
	border-width: 3px;
	padding: 0.5em;
	border-radius: 0.5em;
}

.stitch_headline{
	//background: #dfefff;
	//box-shadow: 0px 0px 0px 5px #dfefff;
	border-style: dashed;
	border-width: 1px;
	border-color: white;
	padding: 0.2em 0.5em;
	margin-bottom: 2em;
}

.curled_headline{
	position: relative;
	//background: #dfefff;
	//box-shadow: 0px 0px 0px 5px #dfefff;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
	//color: #454545;
		&::after{
			position: absolute;
			content: '';
			left: -7px;
			top: -7px;
			border-width: 0 0 15px 15px;
			border-style: solid;
			border-color: #fff #fff #a8d4ff;
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
		}	
}

.ribbon_headline{
	position: relative;
	padding: 0.5em;
	//background: #a6d3c8;
	color: white;
		h1::before {
			position: absolute;
			content: '';
			top: 100%;
			left: 0;
			border: none;
			border-bottom: solid 15px transparent;
			border-right: solid 20px rgb(149, 158, 155);
		}
}




.side_bdr_headline {
	color: #444;
	font-size: 24px;
	display: flex;
	align-items: center;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
  }
  &::before {
    margin-right: .4em;
  }
  &::after {
    margin-left: .4em;
  }
}



.each_char_headline{
  position: relative;
  
  span{
    position: relative;
    display: inline-block;
  }
  
  span:first-child{
    font-size: 3em;
    
    transform:rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
  }
  
  span:nth-child(2){
    font-size: 2em;
    left: -0.1em;
    top: 0.2em;
  }
  span:nth-child(2n){
    font-size: 2.1em;
    bottom: 0.4em;
    left: -0.1em;
  }
  
  span:nth-child(3n){
    font-size: 1.6em;
    left: -0.1em;
    bottom: 0.2em;
    
    transform:rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
  }

  span:nth-child(5n){
    font-size: 1.2em;
    left: -0.23em
  }
  span:nth-child(7n){
    font-size: 1.8em;
    left: -0.2em
  }
  span:nth-child(8n){
    font-size: 2.1em;
    left: -0.1em;
    bottom: 0.2em;
  }
}


@media screen and (max-width: 768px) {
  .side_bdr_headline{
		padding: 0 25px;
		&:before, &:after{
			width: 15px;
		}
	}   
}
