/* CSS Document */

.img-fit{
	width: 100%;
	height: auto;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.shadow-box{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	@include _transition_(box-shadow,0.3);
	&:hover{
		box-shadow: 0 3px 18px rgba(0, 0, 0, 0.4);
		@include _transition_(box-shadow,0.3);
	}
}

.img-rounded{
  border-radius: 5px;
}

.img-circled{
	border-radius: 50%;
}

.hover_figure{
  overflow: hidden;
  img{
    @include transform(scale(1));
    @include _transition_(transform , 0.3);
  }
}

*:hover > .hover_figure{

  img{
    @include transform(scale(1.02));
    @include _transition_(transform , 0.3);
  }
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gallery-bkg{
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
  
  .active{
    z-index: 10;
  }
  .old{
    z-index: 1;
  }
  
  img{
    min-width: 100%;
    minb-height: 100%;
  }
  
}


@for $i from 1 through 9 {
	.w-#{$i*10}{
		width: #{$i*10}vw
		}
}

.gallery{
  margin-top: 25px !important;
  margin-bottom: 25px !important;
	
	justify-content: center; /* 子要素をflexboxにより中央に配置する */
	align-items: center;  /* 子要素をflexboxにより中央に配置する */
	
  .gallery-item{
    margin: 0;
    margin-top: 0 !important;
		position: relative;
		display: block;
		
    a{
      display: block;
      padding: 5px;
      overflow: hidden;
    }
		img{
			max-width: 100%;
			height: auto;
			border: none !important;
			padding: 5px;
			@include box-shadow(0px 0px 4px #CCCCCC);
			@include transform(scale(1));
			@include _transition_(transform , 0.3);

			&:hover{
				@include transform(scale(1.02));
				@include _transition_(transform , 0.3);
			}
		}
  }
}//gallery


.staff_profile_block{
	.gallery{
		justify-content: flex-start;
	}
}

		



body.page-template-attachment-list{
	
	.article-block{
		section{
			margin-bottom: 5em;
		}
	}
	
	.list_block_title,
	.list_block_date{
		text-align: center;
		display: block;
	}

}


@media screen and (min-width: 769px) {
	body.page-template-attachment-list{
       .gallery-item img{
					border-radius: 50%;
					padding: 5px;
					background-color: white;

					-webkit-transition: border-radius 0.3s;
							-moz-transition: border-radius 0.3s;
							-ms-transition: border-radius 0.3s;
							-o-transition: border-radius 0.3s;
							transition: border-radius 0.3s;

					&:hover{
						border-radius: 1%;
						//transform: scale(1.3);
						-webkit-transition: border-radius 0.3s;
							-moz-transition: border-radius 0.3s;
							-ms-transition: border-radius 0.3s;
							-o-transition: border-radius 0.3s;
							transition: border-radius 0.3s;
					}



				}


				.gallery-item{
					transform: scale(1);
					-webkit-transition: transform 0.3s;
							-moz-transition: transform 0.3s;
							-ms-transition: transform 0.3s;
							-o-transition: transform 0.3s;
							transition: transform 0.3s;

					&:hover{
						transform: scale(1.13);
						-webkit-transition: transform 0.3s;
								-moz-transition: transform 0.3s;
								-ms-transition: transform 0.3s;
								-o-transition: transform 0.3s;
								transition: transform 0.3s;
					}
				} 
	}
}

.img-diamond-unit{
	text-align: center;
	margin: 5em auto;
}
.img-diamond-wrap {
	position: relative;
  overflow: hidden;
	margin-left: auto;
	margin-right: auto;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
	box-shadow: 10px -10px 0px #CCCCCC;
	
	&::after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 6px solid white;
		
	}
	
	img.img-diamond {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
