@media screen and (min-width: 769px) {
        

	.landing-page-item{
		position: relative;
	}

	#body-wrap.hide_header.scroll_down #keyv-figure{
		padding-top: 10px;
		@include _transition_(padding-top,0.3);
	}
	
	#body-wrap.hide_header.scroll_up #keyv-figure{
		padding-top: 150px;
		@include _transition_(padding-top,0.3);
	}

	

	#keyv-figure{
		position: fixed;
		height: 100vh;
		top: 0;
		bottom: 0;
		z-index: 0;
		
		padding-top: 150px;
		@include _transition_(padding-top,0.7);

		width: 100%;
		max-width: 100%;


		picture{
			position: absolute;
			width: 80%;
			height: 100%;
			overflow: hidden;

			img{
				width:1600px;
				position: absolute;
				left: -100%;
				top: -100%;
				right: -100%;
				bottom: -100%;
				margin: auto;
				//width: 100%;

				animation: fadeIn 2s ease 0s 1 normal;
				-webkit-animation: fadeIn 2s ease 0s 1 normal;

			}
		}


		.figure-text{
			position: fixed;
			top: 20%;
			height: 50%;
			right: 14%;
			background-color: white;
			padding: 45px 15px;
			filter:alpha(opacity=92);
				-moz-opacity: 0.92;
				opacity: 0.92;
			filter: blur(0px);
			
			max-width: 22%;
			
			.figure-text-inner{
				vertical-align: middle;
				display: table-cell;
			}
		}

	}



	@keyframes fadeIn {
			0% {opacity: 0}
			100% {opacity: 1}
	}

	@-webkit-keyframes fadeIn {
			0% {opacity: 0}
			100% {opacity: 1}
	}

	#keyv-content{
		left: 66.6%;
		margin-top: 210vh;
		margin-bottom: 15%;
	}


	
	
}//media 

@media screen and (max-width: 768px) {
	#keyv-figure{
		margin-bottom: 50px;
		position: relative;
		
		picture{
			display: block;
			
			img{
				
			}
		}
		
		.figure-text{
			//position: absolute;
			position: static;
			top: 10%;
			left: 10%;
			right: 10%;
			bottom: 10%;
			padding: 15px;
			background-color: rgba(255,255,255,0.78);
			text-align: center;
		}
		
	}

}

	body.page-template-keyv-landing{
		.main-content-wrap{
			background-image: none;
		}
	}