/* CSS Document */

.main-content-wrap{
	z-index: 1;
	position: relative;
}


.main-content-unit{
  @include clearfix;
  
  //padding-top: 50px;
  //padding-bottom: 50px;

  &.has_sidebar{
    .main-content-block{
			margin-top: 25px;
			margin-bottom: 25px;
			padding-bottom: 50px;
			vertical-align: top;
			display: inline-block;
			padding: 25px;
			
			.entry_block_content{
			}
    }
  }
  
  
	&.none_container{
		margin-top: 0px;
		margin-bottom: 0px;
		.entry_block_content{
			margin-top: 0px;
			margin-bottom: 0px;
			padding-bottom: 25px;
		}
	}
	
	&.none_sidebar{
		margin-top: 0px;
    .main-content-block{
      width: 100%;
			margin-top: 50px;
			margin-bottom: 0px;
    }
		.entry_block_content{
			margin-top: 0px;
			margin-bottom: 0px;
			padding-bottom: 25px;
		}
  }
	
	footer{
		margin-top: 4em;
	}
	
}//.main-content-unit


section.content-section{
  padding: 50px 15px;
  
  background-position: center center;
  background-size: cover;
}



body.no-slider.no-header_nav{
	padding-top: 5em;
	
	.main-content-wrap.first-cover
	.main-content-unit.none_sidebar{
		.main-content-block{
			margin-top: 0;
		}
	} 
}

.main-content-block.none_header{
	margin-top: 0px !important;
}