/* CSS Document */

.movie-block{
	position: relative;
	display: block;
	
	&::after{
		position: absolute;
		content: "\f236";
		font-family: "dashicons";
		text-align: center;
		display: block;
		left: 0;
		right: 0;
		top: 25%;
		font-size: 5em;
		color: #FFFFFF;
		text-shadow: 1px 1px 4px gray;
	}
}