@charset "UTF-8";




  #header_nav.navbar-block{
    position: relative;
    z-index: 999;
    margin-bottom: 0px;
    @include clearfix;
    
    //---------------
    //base
    
    a,
    a:hover{
      text-decoration: none;
    }
    

    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

  
    //==========================
    // main-menu
    ul.menu{
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      display: table;
      min-height: 30px;

      > li{
        list-style: none;
        display: table-cell;
        padding: 0px;
        text-align: center;
				position: relative;
				
        @include _transition_(background-color,0.3);
				
				&.menu-item-has-children > a{
					position: relative;
				
					&::after{
						content: '▼';
						font-size: 60%;
						position: absolute;
						right: 7px;
						top: 38%;
						filter:alpha(opacity=50);
						-moz-opacity: 0.5;
						opacity: 0.5;
						-moz-transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
						-o-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						transform: rotate(90deg);
						@include _transition_(transform,0.3);
					}
					
				}
        
        &:hover{
          @include _transition_(background-color,0.3);
					
					&.menu-item-has-children > a::after{
						-moz-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						transform: rotate(0deg);
						@include _transition_(transform,0.3);
					}
					
          > a{
            top: -2px;
            margin-bottom: -2px;
            @include _transition_(top,0.3);
          }
					


					ul.sub-menu{
						overflow: visible;
						max-height: 0;
					}
					
					
        }
        
        > a{
          padding: 10px;
          display: block;
          position: relative;
          top: 0;
					word-break: keep-all;
          @include _transition_(top,0.3);
        
					span.main_nav {
            //font-size: 1.2em;
						letter-spacing: 0.1em;
						font-weight: thin;
          }
					
          span.sub_nav {
            margin: 0;
            text-align: center;
            display: block;
            font-size: 0.5em;
            line-height: 0.8;
						@include opacity(80);
          }
          
        }
        
        //==========================
        // sub-menu
        > ul.sub-menu{
            
            padding: 0;
            margin: 0;
            position: absolute;
            overflow: hidden;
            text-align: left;
						font-size: 0.8em;
						filter:alpha(opacity=0);
						-moz-opacity: 0;
						opacity: 0;
						//max-height: 0;
            //@include _transition_(max-height,0.3);
						@include _transition_(opacity,0.3);

            li{
              display: block;
              clear: both;
							position: relative;
							word-break: keep-all;
							
              @include _transition_(background-color,0.3);
              
              &:hover{
                @include _transition_(background-color,0.3);
								
								> .sub-menu{
									filter:alpha(opacity=100);
									-moz-opacity: 1;
									opacity: 1;
									@include _transition_(opacity,0.3);
								}
								
								
								&.menu-item-has-children::after{
									-moz-transform: rotate(-90deg);
									-webkit-transform: rotate(-90deg);
									-o-transform: rotate(-90deg);
									-ms-transform: rotate(-90deg);
									transform: rotate(-90deg);
									@include _transition_(transform,0.3);
								}
              }
							
							&.menu-item-has-children::after{
								content: '▼';
								font-size: 60%;
								position: absolute;
								right: 7px;
								top: 38%;
								filter:alpha(opacity=50);
								-moz-opacity: 0.5;
								opacity: 0.5;
								@include _transition_(transform,0.3);
								
								
							}
              

              ul{
                padding-left: 0px;
                word-break: keep-all;
              }

              > a{
                width: 100%;
                height:  100%;
                display:  block;
                padding: 10px 15px;
								word-break: keep-all;
              }
            }
					
					
						.sub-menu{
							display: block;
							position: absolute;
							width: 200px;
							height: auto;
							left: 100%;
							top: 0em;
							//background-color: black;
							filter:alpha(opacity=0);
							-moz-opacity: 0;
							opacity: 0;
							@include _transition_(opacity,0.3);
						}

          }//sub-menu

        //==========================
        // display sub-menu
        &:hover > ul{
          max-height: 100%;
          display: block;
          @include _transition_(max-height,0.3);
					filter:alpha(opacity=100);
					-moz-opacity: 1;
					opacity: 1;
        }

      }// main-menu > li
    }//ul.main-menu
  }//#header_nav
  
  
  // ===================================
  //sp-menu
  .sp-navbar-unit{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 50px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      -ms-transition: height 0.3s;
      -o-transition: height 0.3s;
      transition: height 0.3s;
    
    &.open{
      min-height: 100vh;
      -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }


    .navbar-logo-block{
      margin-left: 10px;
			margin-right: 50px;
      height: 50px;
      line-height: 50px;
			font-size: 1.25em;
			
      img{
        max-height: 36px;
        width: auto;
      }
    }
    
    .navbar-button{
			
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      right: 5px;
      top: 0px;
      z-index: 9999;
      display: block;
      
      span{
        font-size: .6rem;
        display: block;
        height: 10px;
        line-height: 1;
        margin-top: -1em;
      }
      
      &::before{
        font-size: 2rem;
        display: block;
        content: "\f333";
        font-family: "dashicons";
      }
    }
    &.open .navbar-button::before{     
      content: "\f158";
      font-family: "dashicons";
    }
    
    .navbar-block{
      height: 100%;
      bottom: -50px;
      top: 0;
      padding-bottom: 65px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      
      position: relative;
      margin-top: 10px;
      
      li{
        a{
          font-size: 0.8em;
          padding-left: 5px;
          display: block;
        }
      }
      
      .current-menu-item{
        a{
          font-weight: 700;
        }
        
        .sub-menu{
          a{
          }
        }
      }
      
      .sub-menu{
        display: none;
        line-height: 1.3em;
        margin-bottom: -2px;
        
        li{
          margin: 0;
          line-height: 3em;
          padding-left: 15px;
          
        }
      }
      
      ul,li{
        list-style: none;
        padding-left: 0;
        position: relative;
      }
      ul.menu > li{
        border-bottom: 1px solid rgba(255,255,255,0.24);
        line-height: 3em;
        margin: 0;
        
        .open-nav-button:before{
          font-size: 1.6em;
          content: "\f502";
          font-family: "dashicons";
          position: absolute;
          right: 15px;
          top: 0;
        }
        
        .open-nav-button.active:before{
          content: "\f153";
          font-family: "dashicons";
          position: absolute;
          right: 15px;
          top: 0;
        }

      }//ul.menu > li
    }//navbar-block
    
    
    .navbar-info-block{
      margin-top: 25px;
      text-align: center;
			padding-bottom: 5em;
			
			
      a{
        display: inline-block;
        width: 80%;
        min-width: 300px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 1.3em;
      }
      
      dl{
        margin:10px;
        dt{
          display: inline-block;
          font-weight: 700;
          margin-right: 10px;
        }
        dd{
          display: inline-block;
        }
      }
    }
    
  }//sp-navbar-unit


@media screen and (min-width: 769px) {
  .sp-navbar-unit,
	.sp_display_nav-container{
    display: none !important;
  }  
}
@media screen and (max-width: 768px) {
  
  .sp-navbar-unit{
    display: fixed;
  }
  #header_nav.navbar-block{
    display: none;
  }
	
	footer.has_sp_display_nav{
		padding-bottom: 70px;
	}
	
	.sp_display_nav-container{
		position: fixed;
		height: 50px;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0px 0px 4px #CCCCCC;
		z-index: 99;
		
		
		ul{
			@include clearfix;
			display: flex;
			flex-wrap: nowrap;
			padding-left: 0;
			margin: 0;
			height: 50px;
			
			li{
				padding: 7px;
				width: 100%;
				text-align: center;
				position: relative;
				a{
					display: block;
					text-align: center;
					font-size: 0.6rem;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding-top: 35px;
					padding-bottom: 15px;
				}
			}
		}
	}
}






#header_nav.navbar-block{

	.nav-super_view{

		ul.menu{
			> li.flexnav{
				position: static;
			}
			> li.flexnav > ul.sub-menu{
				width: 100vw;
				
				left: 0;
				right: 0;
				display: flex;
				flex-wrap: nowrap;
				@media screen and (min-width: 1301px) {
					padding-left: 20vw;
					padding-right: 20vw;
				}
				
				@media screen and (max-width: 1300px) {
        	padding-left: -webkit-calc(5% + 15px) ;
					padding-right: -webkit-calc(5% + 15px) ;
					padding-left: calc(5% + 15px) ;
					padding-right: calc(5% + 15px) ;
				}
				
				> li{
					display: inline-block;
					width: 100%;
					
					&.menu-item-has-children::after{
						right: 0;
						left: 0;
						top: 90%;
						bottom: 0px;
						text-align: center;
					}
					
					&:hover.menu-item-has-children::after{
						-moz-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						transform: rotate(0deg);
						@include _transition_(transform,0.3);
					}
					
					
					a{
						display: flex;
					}
					
					 > ul.sub-menu{
						width: auto;
						height: auto;
						left: 0;
						top: 100%;
					}
				}
				
				
				li:hover > a .nav_thumbnail > img{
					-moz-transform: scale(1.02);
					-webkit-transform: scale(1.02);
					-o-transform: scale(1.02);
					-ms-transform: scale(1.02);
					transform: scale(1.02);
					-webkit-filter: grayscale(0);
					-moz-filter: grayscale(0);
					-ms-filter: grayscale(0);
					-o-filter: grayscale(0);
					filter: grayscale(0);

					-webkit-transition: transform 0.3s, grayscale 0.3s;
					transition: transform 0.3s, grayscale 0.3s;
				}
			}//ul.sub-menu
			
			
			
			
		}

		.nav_thumbnail{
			width: 40%;
			display: inline-block;
			overflow: hidden;
			
			img{
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				
				-webkit-transition: transform 0.3s, grayscale 0.3s;
				transition: transform 0.3s, grayscale 0.3s;
			}
			
			
		}//nav_thumbnail
		
		
		.nav_excerpt{
			width: 60%;
			padding: 15px;
			display: inline-block;
			
			h1 span.main_nav{
				font-size: 70%;
			}

			p{
				word-break: normal;
			}
		}//nav_excerpt

	}//nav-super_view
}




#body-wrap{

	.site-header-block{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}
	
	
	
	.site-header-block.hide_header{
		-webkit-transition: top 0.3s;
			-moz-transition: top 0.3s;
			-ms-transition: top 0.3s;
			-o-transition: top 0.3s;
			transition: top 0.3s;
			transition: .3s cubic-bezier(.4, 0, .2, 1);
	}
	
	&.scroll_down{
		.site-header-block.hide_header{
			position: fixed;
			left: 0;
			right: 0;
			transform: translateY(-100%);
			@media screen and (max-width: 768px) {
        top: -100px;
      }
		}
	}
	
	&.scroll_up{
		.site-header-block.hide_header{
			position: fixed;
			left: 0;
			right: 0;
			top: 0 !important;
		}
	}
}


body.admin-bar .site-header-block{
	margin-top: 32px;
}
