/* CSS Document */
.main-content-unit{

  &.has_sidebar{
    #sidebar{
			margin-top: 25px;
			margin-bottom: 25px;
			display: inline-block;
			vertical-align: top;
    }
  }
}

#sidebar{
	&.has_sidebar_color{
		.widget-title{
			padding: .5em;
		}
	}
}



// side list =======================

body.use_side_hover{
  .side_list{
    ul.list-bordered{
      li{
        &.current{
          a{
            border-right-style: solid;
            border-right-width: 4px;
            margin-right: -4px;
            padding-left: 0.5em;
            
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            
            
          }
        }
        &:hover{
          padding-left: 0.5em;
          filter:alpha(opacity=50);
            -moz-opacity: 0.5;
            opacity: 0.5;
          border-right-style: solid;
          border-right-width: 4px;
          margin-right: -4px;

          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }
  }
}

.side_list{
	margin-bottom: 3em;

	ul.list-bordered{
		margin: 0;
		li{
			margin: 0;
			padding: 0;
			
			
			&.parent-list-item{
				
			}
			
			&.child-list-item{
				padding-left: 15px;
			}

			time.list_block_date{
				display: block;
				text-align: right;
				font-size: 70%;
			}
			
			a{
				@include clearfix;
				padding: 0.4em;
				display: block;
				//height: 100%;
				border-right-width: 0px;
				cursor: pointer;
				position: relative;
				z-index: 100;
				padding-left: 0;
				
				
				
				
				> .side_list_content{
					span.taxonomy_label{
						display: inline-block;
					}
				}
				
				
				> .side_list_content.has_thumbnail{
					float: left;
					span.taxonomy_label{
						display: block;
					}
				}
				> span.list-item-count{
					float: right;
					display: block;
					padding: 0px .7em;
					font-size: .8em;
					@include opacity(80);
				}

				span.taxonomy_label{
					display: block;
					font-size: 0.7em;
					padding: 1px 3px;
				}
				
			}//a
			
			
			figure.list_block_thumbnail{
				float: right;
				
				img{
					width: 55px;
					height: auto;
				}
			}
			
			
			
		}//li
	}//ul.list
	
}

.sidebar_inner{
	padding-top: 25px;
	padding-bottom: 100px;
	//@include _transition_(top,0.8);
}

@media screen and (min-width: 769px) {
        

	#sidebar.fit-sidebar{/*サイドバー全体の箱*/
		display: flex;
		align-items: center;
		justify-content: center;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
	}
}





%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 100vh;
  // display:inline-block;
  // vertical-align:top;
  float:left;
  transition:opacity .6s ease, transform .3s ease;
  &.nav-slider{
    width:20%;
    padding-left:5px;
    .swiper-slide{
      cursor:pointer;
      opacity:.4;
      transition:opacity .3s ease;
      &.swiper-slide-active{
        opacity:1;
      }
      .content{
        width:100%;
        .title{
          font-size:20px;
        }
      }
    }
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
}
.swiper-wrapper{

}
.swiper-slide{
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    top:40%;
    left:0;
    width:50%;
    padding-left:5%;
    color:#fff;
    .title{
      font-size:2.6em;
      font-weight:bold;
      margin-bottom:30px;
    }
    .caption{
      display:block;
      font-size:13px;
      line-height:1.4;
      transform:translateX(50px);
      opacity:0;
      transition:opacity .3s ease, transform .7s ease;
      &.show{
        transform:translateX(0);
        opacity:1;
      }
    }
  }
}
[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}